@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient{
@apply text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 via-yellow-300 to-red-500 animate-text;
}

.backg {
@apply bg-[url('https://images.unsplash.com/photo-1650738962968-1cda273212eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80')];
}